@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.user-profile-img{
  border-radius: 50%;
}

.auth-services{
  background-image: url('https://fonts.gstatic.com/s/i/productlogos/googleg/v6/16px.svg') no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
